{% extends 'base.html.twig' %}
{% block title %}Register{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/css/login.css') }}">
    <link rel="stylesheet" href="{{ asset('build/css/register.css') }}">
{% endblock %}
{% block body %}
    {{ form_start(form, {'attr': {'class': 'form-signin'}}) }}
    <h1 class="h3 mb-3 font-weight-normal">Register</h1>
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}
    <button type="submit" class="btn btn-lg btn-primary btn-block">Register</button>
    <a href="{{ path('login') }}" class="btn btn-lg btn-primary btn-block">Sing in</a>
    {{ form_end(form) }}
{% endblock %}
