{% extends 'base-dashboard.html.twig' %}

{% block title %}Customer{% endblock %}

{% block body_attr %}
    {{ parent() }} class="customer"
{% endblock %}

{% block main %}
    <h2>Customers</h2>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>id</th>
                    <th><input type="text" class="form-control" id="customerName" placeholder="name"></th>
                    <th>cpn</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Test</td>
                    <td>100</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}

