{% extends 'base.html.twig' %}
{% block title %}Login{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/css/login.css') }}">
{% endblock %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error.messageKey|trans(error.messageData, 'login') }}
        </div>
    {% endif %}
    <form action="{{ path('login') }}" method="post" class="form-signin">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="username" class="sr-only">Username</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}"
               class="form-control" placeholder="Username" required="" autofocus=""/>
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" name="_password" class="form-control" placeholder="Password"/>
        <button type="submit" class="btn btn-lg btn-primary btn-block">Login</button>
        <a href="{{ path('user_registration') }}" class="btn btn-lg btn-primary btn-block">Sing up</a>
    </form>


{% endblock %}
