{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/css/dashboard.css') }}">
{% endblock %}

{% block body_attr %}
    data-user-token="{{ app.user.token }}"
{% endblock %}

{% block body %}
    {% block navbar %}
        <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
            <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{{ path('dashboard') }}">Bank</a>
            <ul class="navbar-nav px-3">
                <li class="nav-item text-nowrap">
                    <a class="nav-link" href="{{ logout_path() }}">Sign out</a>
                </li>
            </ul>
        </nav>
    {% endblock %}
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link {% if app.request.pathInfo == '/' %} active {% endif %}" href="{{ path('dashboard') }}">
                                <span data-feather="home"></span>
                                Dashboard <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if app.request.pathInfo == '/customer' %} active {% endif %}" href="{{ path('customer') }}">
                                <span data-feather="users"></span>
                                Customers
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <h1>User Token: {{ app.user.token }}</h1>
                {% block main %}
                {% endblock %}
            </main>

        </div>
    </div>

{% endblock %}