{% extends 'base-dashboard.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body_attr %}
    {{ parent() }} class="dashboard"
{% endblock %}

{% block main %}
    <h2>Transactions</h2>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>id</th>
                    <th><input type="text" class="form-control" id="transactionCustomerId" placeholder="customer_id"></th>
                    <th><input type="text" class="form-control" id="transactionAmount" placeholder="amount"></th>
                    <th><input type="text" class="form-control" id="transactionDate" placeholder="date"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>1</td>
                    <td>100</td>
                    <td>20.12.2018</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
